{%extends 'base.html' %}
{% block title %}Home{% endblock title %}
{%block body%}
{% load static %}
<link rel="stylesheet" href="/iternal_project/static/images/backimg1.png">
<div class="container my-5">
    <div class="container border border-dark outer">
        <h3 class="my-3 text-center mx-0 px-0">Patient Information</h3>
        <div class="container" style="width: 700px;">
            <form method="post" action="/formfill">
                <!-- Personal Details Section -->
                <!-- <div class="container my-3">
                    <h5 class="mb-3">Personal Details</h5>
                    <div class="row my-3">
                        <div class="row my-3">
                            <div class="col-sm-3">
                                <label for="firstName">Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required=""
                                    style="width: 150px;">
                                <div class="invalid-feedback">Valid first name is required.</div>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-sm-3">
                            <label for="address">Address</label>
                        </div>
                        <div class="col auto">
                            <input type="textarea" class="form-control" id="address" placeholder="1234 Main St"
                                required="" />
                            <div class="invalid-feedback">
                                Please enter your address.
                            </div>
                        </div>
                    </div>
    
    
                    <div class="row my-3">
                        <div class="col-sm-3">
                            <label for="address mx-4">Gender</label>
                        </div>
                        <div class="col auto">
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="male" name="gender" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Male</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="female" name="gender" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Female</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="other" name="gender" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Other</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-sm-3">
                            <label for="firstName">Reffered By</label>
                        </div>
                        <div class="col auto">
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="" />
                            <div class="invalid-feedback">Valid first name is required.</div>
                        </div>
                    </div>
                </div> -->

                <!-- Birth History -->
                <!-- <div class="container my-5">
                    <div class="row my-3">
                        <h5 class="mb-3">Birth History</h5>
                        <div class="col-sm-3">
                            <label for="birthDate" class="d-inline-block">Birth Date</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="date" name="date" class="form-control">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="firstName">Birth Weight</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" placeholder="in kgs">
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-8">
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="fullterm" name="del" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Fullterm</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="preterm" name="del" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Preterm</label>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-sm-3">
                            Delivery
                        </div>
                        <div class="col-sm-8">
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="normal-delivery" name="delivery" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Normal</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="lscs-delivery" name="delivery" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">LSCS</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="foreceps-delivery" name="delivery" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Foreceps</label>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-sm-3">
                            Consanguinity
                        </div>
                        <div class="col-sm-8">
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="present" name="consanguinity" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Present</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="absent" name="consanguinity" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Absent</label>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-sm-4">
                            Perinatal Events
                        </div>
                        <div class="col-sm-8">
                            <div class="btn-group" data-toggle="buttons" id="btn-group-id">
                                <label class="btn">
                                  <input id="perinatal-yes" type="radio" name="perinatal" value="Label" >Yes 
                                  <select class="form-select" aria-label="Default select example" style="width:150px">
                                    <option selected>Details</option>
                                    <option value="1">Birth Asphyxia</option>
                                    <option value="2">Perinatal Depression</option>
                                    <option value="3">Meconium Aspiration Syndrom</option>
                                    <option value="4">Seizures</option>
                                    <option value="5">Hypoglycemia</option>
                                    <option value="6">Jaundice</option>
                                    <option value="7">Neonatal Apnoea</option>
                                  </select>
                                </label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="perinatal-no" name="perinatal" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">No</label>
                            </div>
                            
                        </div>

                  </div>


                  <div class="row my-2">
                    <div class="col-sm-4">
                        Treatment Received
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select" aria-label="Default select example" style="width:150px">
                                <option selected>Treatment</option>
                                <option value="1">Intubation at birth</option>
                                <option value="2">Required oxygen support</option>
                                <option value="3">Ventilator</option>
                                <option value="4">Required surfactant</option>
                                <option value="5">Ionotropic support</option>
                        </select>
                            </label>
                       
                    </div>
                </div>

                    <div class="row my-2">
                        <div class="col-sm-4">
                            Required NICU stay
                        </div>
                        <div class="col-sm-8">
                            <div class="btn-group" data-toggle="buttons" id="btn-group-id">
                                <label class="btn">
                                  <input id="nicu-stay-yes" type="radio" name="nicu-stay" value="Label" >Yes 
                                  <input type="text" name="other_reason" placeholder="Duration"/>
                                </label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="nicu-stay-no" name="nicu-stay" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">No</label>
                            </div>
                            
                        </div>
                    </div>
                </div> -->

                <!-- Develpement History -->
                <!-- <div class="container my-5">
                    <div class="row my-3">
                        <h5 class="mb-3">Develpement History</h5>
                        <div class="col-sm-3">
                            <label for="firstName" class="d-inline-block">Birth Date</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="date" name="date" class="form-control">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="firstName">Birth Weight</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" placeholder="in kgs">
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-8">
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="fullterm" name="del" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Fullterm</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="preterm" name="del" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Preterm</label>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-sm-3">
                            Delivery
                        </div>
                        <div class="col-sm-8">
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="normal-delivery" name="delivery" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Normal</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="lscs-delivery" name="delivery" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">LSCS</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="foreceps-delivery" name="delivery" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Foreceps</label>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-sm-3">
                            Consanguinity
                        </div>
                        <div class="col-sm-6">
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="present" name="consanguinity" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Present</label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="absent" name="consanguinity" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">Absent</label>
                            </div>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-sm-3">
                            Perinatal Events
                        </div>
                        <div class="col-sm-9">
                            <div class="btn-group" data-toggle="buttons" id="btn-group-id">
                                <label class="btn">
                                  <input id="perinatal-yes" type="radio" name="perinatal" value="Label" >Yes 
                                  <select class="form-select" aria-label="Default select example" style="width:150px">
                                    <option selected>Details</option>
                                    <option value="1">Birth Asphyxia</option>
                                    <option value="2">Perinatal Depression</option>
                                    <option value="3">Meconium Aspiration Syndrom</option>
                                    <option value="4">Seizures</option>
                                    <option value="5">Hypoglycemia</option>
                                    <option value="6">Jaundice</option>
                                    <option value="7">Neonatal Apnoea</option>
                                  </select>
                                </label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="perinatal-no" name="perinatal" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">No</label>
                            </div>
                            
                        </div>

                  </div>


                  <div class="row my-2">
                    <div class="col-sm-3">
                        Treatment Received
                    </div>
                    <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" style="width:150px">
                                <option selected>Treatment</option>
                                <option value="1">Intubation at birth</option>
                                <option value="2">Required oxygen support</option>
                                <option value="3">Ventilator</option>
                                <option value="4">Required surfactant</option>
                                <option value="5">Ionotropic support</option>
                        </select>
                            </label>
                       
                    </div>
                </div>

                    <div class="row my-2">
                        <div class="col-sm-3">
                            Required NICU stay
                        </div>
                        <div class="col-sm-9">
                            <div class="btn-group" data-toggle="buttons" id="btn-group-id">
                                <label class="btn">
                                  <input id="nicu-stay-yes" type="radio" name="nicu-stay" value="Label" >Yes 
                                  <input type="text" name="other_reason" placeholder="Duration"/>
                                </label>
                            </div>
                            <div class="custom-control custom-radio d-inline mx-3">
                                <input id="nicu-stay-no" name="nicu-stay" type="radio" class="custom-control-input" checked="" />
                                <label class="custom-control-label" for="credit">No</label>
                            </div>
                            
                        </div>
                    </div>
                </div> -->

    
                <!-- Concerns Section -->
                <!-- <div class="container my-5">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="mb-3 my-2">Concerns</h5>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Weakness in lower limbs
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Seizures
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Abnormal movements
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Breath holding spells
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Drooling of saliva
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Regression of milestones
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Episode of unconsciousness
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Reapeated episodes of headache
                                </label>
                            </div>
    
                        </div>
                    </div>
                </div> -->
    
                <!-- Developement Section -->
                <!-- <div class="container my-3">
    
    
                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="mb-3 my-2">Developement</h5>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Delayed motor development
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Delay in sensory development
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Delayed speech
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Delayed social development
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Developmental Surveillance
                                </label>
                            </div>
                        </div>
    
                    </div>
                </div> -->
    
                <!-- Submit Button -->
                <hr class="mb-4"/>
               <div class="container d-block justify-content-between">
                <button class="btn btn-primary btn-lg btn-block my-4" type="submit">
                    Submit
                </button>
               </div>
            </form>
        </div>
    </div>
</div>

{%endblock body %}